*{
    font-family: 'Lato', sans-serif;
}
/* <!-- -----------------------nav section start---------------- --> */
.header-section{
 background: rgba(229, 84, 115, 0.10);
 
}
a{
    text-decoration: none;
}
.nav-btn{
    border-radius: 5px;
    list-style: none;
    padding: 10px;
    background-color: #E55473;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;

}
nav>ul{
    display: flex;
    justify-content: space-between;
}

.all-btn{
    display: flex;
}


.btn-primary{
  background-color: #111010;
  color: #E55473;
  
}


/* <!-- -------------------nav section end--------------------- --> */

.header-body{

    display: flex;
    align-items: center;
    margin: 0px 10% ;
    justify-content: space-between;
}
.content-heading{
    font-size: 80px;
font-weight: 700px;
}

.heading-blog{
    font-size: 18px;
    font-weight: 400px;
}
/* <!-- -----------header section end----------- --> */

/* <!-- ------------main body part start------------------ --> */
.main-part{
    width: 80%;
    margin: auto;
}


/* <!-- ----------------flower section start--------------- --> */



.body-heading{
    margin-top: 178px;
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
    color: #272727;
}



.body-blog{
    margin-top: 24px;
    margin-bottom: 24px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400px;
    text-align: center;


}
.image-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container-text{
    
    font-size: 24px;
    color: #272727;
    font-weight: 700px;
    text-align: center;
    
}


.container{
    height: 538px;
    width: 464px;
    background-color: rgba(167, 33, 98, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.container2{
    height: 538px;
    width: 464px;
    background-color: rgba(5, 151, 160, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin: 0px 24px;
}
.container3{
    height: 538px;
    width: 464px;
    background-color: rgba(167, 33, 98, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}

.body-image>img{
    margin-top: 36%;
    width: 370px;
    height: 370px;
}


/* <!-- ----------------flower section end--------------- --> */



/* <!-- ------------------------------servis section start--------------- --> */


.servis{
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color: rgba(39, 39, 39, 0.05);
    height: 320px;
    margin: 128px 0px;
}


.servis-icon{
    width: 88px;
    height: 88px;
    margin: auto;
}

.servis-container>h6{
    font-size: 24px;
    font-weight: 600px;
    color: rgba(39, 39, 39, 0.80);
}



/* -------------------servis section end--------------- */




/* <!-- -----------------------hot deals section start--------------- --> */

.hot-deal{
    display: flex;
    align-items: center;
    width: 100%;
    height: 620px;
    justify-content: space-around;
    background-color: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;

}

.deal-heading{
    font-size: 40px;
    font-weight: 700px;
}
.off{
    color: #E55473;
}

.deal-blog{
    font-size: 18px;
    font-weight: 400px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-bottom: 52px;
}

.signup{
   
    margin-left: 40%;
    
}

/* <!-- ------------------hot deal section end----------- --> */



<!-- ---------------------------social section start---------------- -->


.social-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.social-blog{
    font-size: 18px;
    font-weight: 400px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-bottom: 48px;
}


.social-container{
    display: flex;
    justify-content: space-around;

}


/* <!-- -------------------------------------social section end----------- --> */

